img {
  height: 30%;
  width: 30%;
  margin-left: 32%;
}

#over18 {
  background-color: #1a8cff;
}

#under18 {
  background-color: #b30000;

}
#under18 img {
  margin-left: 37%;
}

.col-sm-4:nth-child(4) {
  margin-top: 6%;
  margin-bottom: 10%;
}

h1 {
  margin-left: 10%;
}

.btn {
  margin-left: 37%;
  margin-top: 20px;
}

.jumbotron h1 {
  color: #ddd;
  margin-top: 0;
}
